<!-- Navigation Bar -->
  <nav class="navbar navbar-expand shadow d-print-none" style="background-color:#5a8840;">
    <div class="container-fluid">

      <a class="navbar-brand" href="/">
        <img src="/img/logo.svg" alt="Hafen Innovation Logo" height="50">
      </a>

      <!-- Currently unused
      <div class="navbar">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>

          
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          

        </div>
      </div>
      -->

    </div>
  </nav>

  <nav class="navbar navbar-expand d-none d-print-block" style="background-color:#7da06a;">
    <div class="container-fluid">

      <a class="navbar-brand" href="/">
        <img src="/img/logo.svg" alt="Hafen Innovation Logo" height="50">
      </a>

      <p class="navbar-text m-0 text-end">
        Samuel Hafen <br>
        samuel.hafen@ikmail.com
      </p>


    </div>
  </nav>
